.dropdown-toggle {
  color: #777;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}

.dropdown-toggle:hover {
  color: #777;
  background-color: #FFFFFF;
  border: 1px solid #566566;
}

.open>.dropdown-toggle.btn-default, .open>.dropdown-toggle.btn-default:hover {
  color: #777;
  background-color: #FFFFFF;
  border: 2px solid #566566;
}

.bs-searchbox .form-control {
  border: 1px solid #DCE4EC;
}

.btn-default:focus {
  color: #777;
  background-color: #FFFFFF;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  font-weight: bold;
  border-top-color: #18bc9c;
  border-top-width: 5px;
  box-shadow: 0 0 0 0;
}

.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
  font-size: 16px;
  box-shadow: 0 1px 6px -4px rgba(0,0,0,.12);
}

.bttn-material-circle.bttn-default {
  color: #18bc9c; 
}

#title {
  background-color: #23313E; 
  margin-left: -15px; 
  margin-right: -15px; 
  padding-left: 15px; 
  margin-top: -25px; 
  padding-top: 15px; 
  margin-bottom: -10px; 
  padding-bottom: 10px; 
  font-size: 26px; 
  font-variant: small-caps; 
  color: white; 
  border: solid 5px #95a5a6; 
  border-left: 0px; 
  border-right: 0px; 
  border-top: 0px;
}

#side-panel {
  margin-left: -15px;
  margin-top: -11px;
}

hr {
  border-top: 1px solid #95a5a6;
}

.table {
  margin-bottom: 10px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, 
.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: 1px solid #ddd
}

.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ecf0f1;
}

caption {
  color: #23313E;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

.box-border {
  width: auto !important;
  margin: 15px;
  border-radius: 2px; 
  -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12); 
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12); 
  padding: 10px 20px 10px 20px;
}

.box-border-green {
  border-top: 5px solid #18bc9c;
}

.box-border-lightblue {
  border-top: 5px solid lightblue;
}

.box-border-blue {
  border-top: 5px solid #00c0ef;
}

.box-border-darkblue {
	border-top: 5px solid #23313E;
}

.box-border-gold {
  border-top: 5px solid gold;
}

.box-border-lightcoral {
  border-top: 5px solid lightcoral;
}

.box-border-orange {
  border-top: 5px solid #f49c12;
}

.box-border-red {
  border-top: 5px solid #de4c38;
}

.shiny-plot-output>img {
  width: 100%;
}

.whitespace {
  font-size: 3px; 
  color: white;
}

.smallwhitespace {
  font-size: 0.5px; 
  color: white;
}